.post_button {
    margin-left: 50px;
    margin-top: 10px;
    width: fit-content;
    margin-bottom: 30px;
    padding: 9px;
    border-radius: 20px;
    border: solid 1px black;
    transition: 500ms;
    background: transparent;
}

.post_button:hover {
    background: #000;
    color: rgb(253, 196, 234);
}

.new_post_area {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.textarea {
    margin: 0 50px;
    border-radius: 20px;
    height: 60px;
    padding: 10px;
    font-size: 15px;
}