.container {
    grid-area: n;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
}

.nav_item {
    transition: 300ms;
    color: #4141ff;
}

.nav_item:hover {
    color: black
}

.nav a.active {
    color: rgb(11, 13, 112);
}